.slider-container-business {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 180px;
  margin-left: 18px;
  margin-top: 21px;
  border-radius: 25px;
}

.slider-business {
  display: flex;
}

.slide-business {
  background-color: violet;
  flex: 0 0 100%;
  width: 150px;
  height: 180px;
}
/* 
.selected-business {
  background-color: #fff;
} */

.button-business {
  display: none;
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.prev-business {
  left: 0;
  border-top-right-radius: 20px;
}

.next-business {
  right: 0;
  border-top-left-radius: 20px;
}

.indicators-business {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-business {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot-business.active-business {
  background-color: royalblue;
}

.dot-business.selected-business {
  background-color: red;
}
