.slider-container-masterPos {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 200px;
  margin-left: 60px;
  top: 21px;
  border-radius: 25px;
}

.slider-masterPos {
  display: flex;
}

.slide-masterPos {
  background-color: rgb(226, 210, 211);
  flex: 0 0 100%;
  width: 200px;
  height: 200px;
}
/* 
.selected1 {
  background-color: #fff;
} */

.button-masterPos {
  display: none;
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.prev-masterPos {
  left: 0;
  border-top-right-radius: 20px;
}

.next-masterPos {
  display: none;
  right: 0;
  top: 150px;
  border-top-left-radius: 20px;
}

.indicators-masterPos {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-masterPos {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot-masterPos.active-masterPos {
  background-color: yellow;
}

/* .dot-masterPos.selected-masterPos {
  background-color: red;
} */
