.slider-container-saving {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 180px;
  margin-left: 8px;
  margin-top: 21px;
  border-radius: 25px;
}

.slider-saving {
  display: flex;
}

.slide-saving {
  background-color: aqua;
  flex: 0 0 100%;
  width: 150px;
  height: 180px;
}
/* 
.selected1 {
  background-color: #fff;
} */

.button-saving {
  display: none;
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.prev-saving {
  left: 0;
  border-top-right-radius: 20px;
}

.next-saving {
  right: 0;
  border-top-left-radius: 20px;
}

.indicators-saving {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-saving {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot-saving.active-saving {
  background-color: green;
}

.dot-saving.selected-saving {
  background-color: red;
}
