.slider-container1 {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 180px;
  margin-left: 100px;
  margin-top: 50px;
  border-radius: 25px;
}

.slider1 {
  display: flex;
}

.slide1 {
  background-color: aqua;
  flex: 0 0 100%;
  width: 200px;
  height: 200px;
  position: absolute;
}

.selected1 {
  background-color: #fff;
}

.button {
  position: absolute;
  top: 150px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.prev1 {
  left: 0;
  border-top-right-radius: 20px;
}

.next1 {
  right: 0;
  border-top-left-radius: 20px;
}

.indicators1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot1.active1 {
  background-color: #007bff;
}

.dot1.selected1 {
  background-color: red;
}
