.personal_1{
  background-color: rgb(208, 238, 236);
  width: 50%;
  justify-content: center;
  height: 400px;
  border-radius: 5px;
  margin: 5px;
}

.business_1{
  width: 50%;
  justify-content: center;
  
  height: 400px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(208, 238, 236);
}

.countrymenu{
  margin-top: 20px;
}




.banking_headpage{
  display: grid;
  overflow-x: scroll; 
  max-height: calc(85vh);
  width: 1360px;
  top: 110px;
  z-index: 1;
  position: absolute;
  
}