/* Country.module.css */
.country {
  border: 2px solid #ddd;
  
  cursor: pointer;
}

.selectedCountry {
  
  padding-left: 1px;
  cursor: pointer;
  border-radius: 9px;
  width: 59px;
  height: 70px;
  

}

.flag {
  width: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
