.slider-container-subPos1 {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 170px;
  left: 90px;
  top: -30;
  backface-visibility: hidden;
  border-radius: 25px;
  background-color: white;
}

.slider-subPos {
  display: flex;
}

.slide-subPos {
  background-color: transparent;
  flex: 0 0 100%;
  width: 350px;
  height: 180px;
  z-index: 10;
}

.selected-subPos {
  background-color: black;
  flex: 0 0 100%;
  height: 290px;
  margin-top: 20px;
}

.button-subPos1 {
  position: absolute;
  top: 150px;
  margin-left: 10px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #002;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 10px;
}

.prev-subPos {
  left: 20;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.next-subPos {
  right: 0;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.indicators-subPos {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-subPos {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;

  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot-subPos.active-subPos {
  background-color: #007bff;
}

.dot-subPos.selected-subPos {
  background-color: red;
}

.input-checkbox-showBalance {
  margin-top: 15px;
  margin-left: 15px;
  z-index: 3;
  position: absolute;
}

.span-showBalance-showBalance {
  margin-top: 15px;
  margin-left: 30px;
  z-index: 3;
  font-size: 12px;
  position: absolute;
}

.transaction-parag {
  font-size: 12px;
}

.subPOS-account {
  position: "absolute";
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0;
  z-index: 20;
}

.subpos-show-account {
  position: absolute;
  overflow-y: scroll;
  right: 0;
  left: 0;
  height: 500px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
