body {
  margin: 0;
  overflow: hidden;
}

.slider-container {
  position: relative;
  height: 420px;
  
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 420px;
}


.indicator {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  display: flex;
  margin-left: 28.2%;
   /* Add margin-top to create space between sliding div and indicators */
}

.indicator-dot {
  width: 20px;
  height: 2px;
  
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
