.personal{
  width: 50%;
  justify-content: center;
  background-color: aqua;
  height: 450px;
  border-radius: 5px;
  
}

.business{
  width: 50%;
  justify-content: center;
  background-color: aqua;
  height: 450px;
  margin: 5px;
  border-radius: 5px;
}