.personal{
  background-color:rgb(236, 221, 79);
  width: 850px;
  justify-content: center;
  height: 510px;
  border-radius: 5px;
  
}

.business{
  width: 850px;
  justify-content: center;
  background-color:rgb(241, 224, 68);
  height: 500px;
  margin: 5px;
  border-radius: 5px;
}