.personal{
  width: 1360px;
  justify-content: center;
  background-color:rgba(246, 216, 216, 0.92);
  height: 450px;
  border-radius: 5px;
  
}

.business{
  width: 50%;
  justify-content: center;
  background-color: rgba(246, 216, 216, 0.92);
  height: 450px;
}


.agupepay_headpage{
  display: grid;
  overflow-x: scroll; 
  max-height: calc(85vh);
  width: 1360px;
  top: 110px;
  z-index: 1;
  position: absolute;

}

