.contact-us-hover-div {
  background-color: transparent;
  border-radius: 25px;
  font-size: 14px;
  height: 33px;
  width: 105px;
}

.contact-us-hover-container {
  display: none;
  width: 100%;
  height: 350px;
  right: 0px;
  position: absolute;
  background-color: rgb(215, 247, 236);
  z-index: 50;
  min-width: 160px;
}

.contact-us-hover-div:hover .contact-us-hover-container {
  display: block;
}

.contact-us-hover-button {
  border-radius: 25px;
  display: flex;
  font-size: 14px;
  height: 33px;
  width: 110px;
  background-color: transparent;
  color: rgb(10, 10, 100);
}
