.mobile-login-button-div:hover {
  background-color: rgba(252, 233, 67, 1);
}

.mobile-login-button-div {
  background-color: aqua;
  display: flex;
  height: 45px;
  padding-left: 10px;
  padding-right: 4px;
  border-radius: 28px;
}

.mobile-login-button-navlink {
  background-color: rgba(231, 37, 37, 1);
  height: 40px;
  border-radius: 25px;
  width: 86px;
}

.mobile-login-button-navlink:hover {
  background-color: blueviolet;
  transform: rotate(360deg);
  transition: transform 0.3s ease;
}

.mobile-login-button {
  width: 70px;
  padding-left: 5px;
  border-radius: 25px;
  color: aqua;
  background-color: black;
}

.mobile-login-button:hover {
  background-color: black;
  color: rgba(252, 233, 67, 1);
}
