.businesssignup_headpage{
  display: grid;
  overflow-x: hidden;
  max-height: calc(85vh);
  width: 1360px;
  top: 110px;
  z-index: 1;
  position: absolute;
}

.form_business{
  display: flex;
}
.input_form_bus{
  height:30px;
  width: 300px;


}