.mobile-signup-button-div:hover {
  background-color: rgb(250, 244, 244);
}

.mobile-signup-button-div {
  background-color: aqua;
  display: flex;
  height: 45px;
  padding-left: 10px;
  padding-right: 4px;
  border-radius: 28px;
}

.mobile-signup-button-navlink {
  background-color: white;
  height: 40px;
  border-radius: 25px;
  width: 86px;
}

.mobile-signup-button-navlink:hover {
  background-color: aqua;
  transform: rotate(-360deg);
  transition: 0.3s ease;
}

.mobile-signup-button {
  width: 70px;
  padding-left: 5px;
  border-radius: 25px;
  color: aqua;
  background-color: black;
}

.mobile-signup-button:hover {
  background-color: black;
  color: aqua;
}
