.com_1 {
  background-color: rgb(215, 247, 236);
  display: flex;
  margin-left: 20px;
  margin-right: 15px;
  width: 1300px;
  border-radius: 25px;
}

.call_us {
  margin-bottom: 10px;
}

.call {
  font-size: 13px;
  margin-top: 5px;
}

.number {
  font-size: 13px;
  margin-top: 10px;
}

.social {
  margin-bottom: 10px;
}

.socialize {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 20px;
}

.ap {
  margin-bottom: 10px;
}

.mobile {
  font-size: 13px;
  margin-left: 10px;
}
