.notification-container {
  background-color: black;
  width: 1380px;
  height: 350px;
}

.com_1 {
  background-color: rgb(215, 247, 236);
  display: flex;
  margin-right: 15px;
  width: 100%;
}

.call_us {
  margin-bottom: 10px;
}

.call {
  font-size: 13px;
  margin-top: 5px;
}

.number {
  font-size: 13px;
  margin-top: 10px;
}

.social {
  margin-bottom: 10px;
}

.socialize {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 20px;
}

.ap {
  margin-bottom: 10px;
}

.mobile {
  font-size: 13px;
  margin-left: 10px;
}
