.account-slider-container {
  position: relative;
  overflow: hidden;
  width: 188px;
  background-color: transparent;
  height: 250px;
  padding-right: 20px;
  margin-left: 20px;
  border-radius: 25px;
}

.account-slider {
  display: flex;
  width: 250px;
  height: 250px;
}

.account-slide {
  flex: 0 0 100%;
  width: 150px;
  height: 250px;
}

.unselected {
  background-color: color(rgb(233, 190, 190));
}

.selected {
  background-color: whitesmoke;
}
.account-button {
  position: absolute;
  top: 230px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: inherit;
  color: #fff;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 10px;
}

.account-prev {
  left: 0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.account-next {
  right: 0;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.account-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.account-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.account-dot.account-active {
  background-color: #007bff;
}

.account-dot.account-selected {
  background-color: red;
}
