.personalprofile {
  overflow-x: hidden;
  height: 100%;
  overflow-y: scroll;
  width: 1360px;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
}
.profile-section {
  font-size: 13px;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  color: black;
}

.profile-section:hover {
  background-color: aqua;
}

.text_pro {
  color: rgb(10, 10, 100);
  background-color: rgb(250, 244, 244);
}
