


.login_personal{
  background-color: rgba(246, 216, 216, 0.92);
  width: 1360;
  justify-content: center;
  height: 400px;
  margin: 1px;
  
}

.register_joint{
  width: 50%;
  justify-content: center;
  background-color:rgba(246, 216, 216, 0.92);
  height: 400px;
  margin: 1px;

}

.personal_headpage{
  display: grid;
  overflow-x: scroll;
  max-height: calc(85vh);
  width: 1360px;
  top: 110px;
  z-index: 1;
  position: absolute;
  

}