


.login_personal{
  background-color: rgb(255, 240, 218);
  width: 50%;
  justify-content: center;
  height: 400px;
  border-radius: 1px;
  margin: 2px;
}

.register_personal{
  width: 50%;
  justify-content: center;
  background-color:rgb(255, 240, 218);
  height: 400px;
  margin: 5px;
  border-radius: 1px;
}


.register_joint{
  width: 50%;
  justify-content: center;
  background-color:rgb(255, 240, 218);
  height: 400px;
  margin: 2px;
  border-radius: 5px;
}