.nav_link{
  display: flex;
  
  width: 1230px;
  
  
  justify-content: space-around;


}

.navbar{
background-color: rgba(245, 245, 245, 1);
display: flex;
height: 90px;
justify-content: space-between;
}

.logo{
    display: flex;
    margin-left: 15px;
    height: 40px;
    
    
}


  .a1{

    color: rgba(231, 37, 37, 1);
  }

  .g1{

    color: rgba(0, 0, 0, 1);
  }

  .u1{
    color: rgba(252, 233, 67, 1);
  }

  .p1{
    color: rgba(228, 165, 165, 1);
  }

  .e1{

    color: rgba(35, 233, 102, 1);
  }

  .logo.png{
    background-color: rgb(218, 10, 10);
    display: grid;
    margin-bottom: 5px;
    width: 50px;
    
    
  }


  .image{
    display: block;
     width: 50px;
    padding-left: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 25px;
  }

  .grid{
    margin-top: 30px;
  }

  .bank{
    background-color: rgba(35, 233, 102, 0.55);
    margin-top: 13px;
    width: 90px;
    padding-left: 15px;
    margin-left: 50px;
    height: 30px;
    padding-top: 5px;
    border-radius: 5px;
  }

  