
.menuStyle_bankingresgister{
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  right: 0;
  height: 700px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 520px;
  background-color: rgb(228, 219, 219);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
  padding-left: 12px;

}